html{
  display: block; 
    }

/* remember the target divided by content = result formula */

body {
  font: normal 100% "Cambria", "Georgia", "sans-serif";
  background-image: url(../images/BCB-Background-Image1.jpg);
  background-repeat: no-repeat; 
  background-attachment: fixed;
  background-size:cover;
  background-position: center center;
}

header {
  padding: 2em; 
  box-shadow:0px 0px 0px 1px black inset;
}

/* div {
 opacity: .50; /* Standard: FF gt 1.5, Opera, Safari, CSS3 */
    /* filter: alpha(opacity=50); /* IE lt 8 */
    /* -ms-filter: "alpha(opacity=50)"; /* IE 8 */
    /* -khtml-opacity: .50; /* Safari 1.x */
    /* -moz-opacity: .50; /* FF lt 1.5, Netscape */
  
h1 {
  font-size: 1.5em; /* 16px / 24px */
  font-style: italic;
}

h1 a {
  color: #747474; 
  font: bold .4583333333em /* 11px / 24px */ "Calibri", "Optima", "Arial", "serif";
  letter-spacing: .15em;
  text-transform: uppercase;
  text-decoration: none;  
}

#page {
  margin: 36px auto;
  width: 90%;  
  border: solid white;
}

.lede {
  padding: 0 0.8em 5.33333% .8em;  
}

.blog {
  margin: 0 auto 53px;
}

.blog .main {
  float: left;
  box-shadow:0px 0px 0px 1px red inset;
  background: white; 
  padding-bottom: 2em;
}

.figure {
  float: right;
  margin-bottom: .5em;
  margin-left: 2.53164557%; /*12px / 474px */
  width: 48.7341772%; /* 231px / 474px */
}

img.full, embed, object.full, .main img, .main object, video {
  max-width: 100%;
}

.blog .other {
  float: right;
  width: 36.7777778%;
  box-shadow:0px 0px 0px 1px green inset;
}

.article {
  padding: .8em 8.48056537%;  
}

.recent-entries {
  margin: 0 auto;
  width: 69.7885196%;
}

footer {
 clear: both;
 padding: 0.8em 5.33333%;  
box-shadow:0px 0px 0px 1px purple inset;
  background: white;
}

@media only screen and (max-width: 767px) {
  body {
    /* The file size of this background image is 93% smaller
       to improve page load speed on mobile internet connections */
    background-image: url(../images/BCB-Background-Image1.jpg);
  }
}