html{
  display: block; 
    }

/* remember the target divided by content = result formula */
head {
  font-family: 'Carrois Gothic SC', sans-serif;
}

body {
  font-family: 'sans-serif', 'Carrois Gothic SC';
  background-image: url(../images/LeafForSite.jpg);
  background-repeat: no-repeat; 
  background-attachment: fixed;
  background-size:cover;
  background-position: center;
}

header {
/*  margin: 2em 4em 15em 0em;*/
  align-items: center;
  align-content: center;  
}

.slide {
    min-height: 100vh;
    width: 100vw;
    box-sizing: border-box;
}

#title {
  box-shadow:0px 0px 0px 1px palegoldenrod inset;
 background:rgba(255,255,255,0.45);
  min-height: 15%;
}

.introduction:hover
{
        border-radius:50%;
}

/* div {
 opacity: .50; /* Standard: FF gt 1.5, Opera, Safari, CSS3 */
    /* filter: alpha(opacity=50); /* IE lt 8 */
    /* -ms-filter: "alpha(opacity=50)"; /* IE 8 */
    /* -khtml-opacity: .50; /* Safari 1.x */
    /* -moz-opacity: .50; /* FF lt 1.5, Netscape */
  

h1 {
  font: bold .4583333333em /* 11px / 24px */ 'Oswald';
  font-size: 400%;
/*
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
*/
  text-shadow: rgba(0,0,0,0.5) -1px 0,
               rgba(0,0,0,0.3) 0 -1px,
               rgba(255,255,255,0.5) 0 1px, 
               rgba(0,0,0,0.3) -1px -1px;
}

h3 a {
  color: #747474; 
  font: bold .7583333333em /* 11px / 24px */ 'Carrois Gothic SC', 'Oswald';
  letter-spacing: .30em;
  text-transform: uppercase;
  text-decoration: none;  
}

h2 {
  font: bold 'Oswald';
 text-decoration: underline overline;
 padding: .5em;
  line-height: inherit;
  font-size: 225%;
  
}

p {
 font: "Calibri", "Optima", "Arial", "serif"; 
}
/*

div {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
*/
/*
  border-bottom-left-radius: 1.75em;
  border-bottom-right-radius: 12pt;
*/
  

/*
#page {
  margin: 36px auto;
  width: 90%;  
*/
/*  border: solid white;}*/


.lede {
  padding: 0 0.8em 5.33333% .8em;  
}

.portfolio {
  margin: 0 auto 53px;
}

.portfolio .main {
  position:relative; 
  box-shadow:0px 0px 0px 1px palegoldenrod inset;
  background: white;  
  background-color: rgba(255,255,255,0.75);
  padding-bottom: 2em;
  min-height: inherit;
}

.container .portfolio {
  margin-top: 1.5em;
}

.container .portfolio .top {
  background-color: rgba(255,255,255,0.75);
  cursor: pointer;
}

/*
.container .portfolio .bottom { 
  display: none;
}
*/


.figure {
  float: right;
  margin-bottom: .5em;
  margin-left: 2.53164557%; /*12px / 474px */
  width: 48.7341772%; /* 231px / 474px */
}

img.full, embed, object.full, .main img, .main object, video {
  max-width: 100%;
}

.portfolio .other {
  float: right;
  width: 36.7777778%;
/*  box-shadow:0px 0px 0px 1px green inset;*/
}

.article {
  padding: .8em 8.48056537%;
}

.recent-entries {
  margin: 0 auto;
  width: 69.7885196%;
}

footer {
 clear: both;
 padding: 0.8em 5.33333%;  
box-shadow:0px 0px 0px 1px palegoldenrod inset;
  background: rgba(255,255,255,0.45);
}

a:link, a:visited { 
    color: black;
    cursor: auto;
}

a:hover {
    color: #869B9C;
}

/*

@media only screen and (max-width: 767px) {
  body {
     The file size of this background image is 93% smaller
       to improve page load speed on mobile internet connections 
    background-image: url(../images/BCB-Background-Image1.jpg);
  }
}*/
