

/* INTRO SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */



.intro::before,
.intro::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.intro {
  clear:both;
  float:none;
  font: normal 16px/1.5 "Helvetica Neue", sans-serif;
/*  background-color: rgba(255,255,255,0.75);*/
  color: #fff;
  overflow-x: hidden;
  padding: 1em 0 .5em 0;
}  

.container {
  width: 90%;
  max-width: 1980px;
  margin: 0 auto; 
  padding-top: 2em;
  text-align: center;
  overflow: visible;
}

#timebox {
/*  display: none;*/
 position:relative; 
  z-index: -10;
  box-shadow:0px 0px 0px 11px palegoldenrod inset;
}

/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul { 
  padding: 50px 0;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #fff;
}

.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  max-width: 1.9em;
  max-height: 1.9em;
  border-radius: 50%;
  background: inherit;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
/*  background: #c2f0c2;*/
  background-color: rgba(255,255,255,0.95);
  box-shadow:0px 0px 0px 3px #c2f0c2 inset;
}

.timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #c2f0c2 transparent transparent;
}

.timeline ul li:nth-child(even) div {
  left: -469px;
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #c2f0c2;
}

time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}
 


/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
  transition: background .5s ease-in-out;
}

.timeline ul li.in-view::after {
  background: #66ffb3;
  box-shadow:0px 0px 0px 1px white inset;
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px;
    /*250+45-6*/
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div {
    width: calc(100vw - 91px);
  }
  .timeline ul li:nth-child(even) div {
    left: 45px;
  }
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #99ffdd transparent transparent;
  }
}
/*special styling */
.header {
  text-align: center;
/*  color: #869B9C;*/
/*  text-shadow: 0 2px 2px #000;*/
}

#title {
   background-attachment: fixed;  
}